[user]
	name = smn-hrtzsch
	email = simon@hoertzsch.de
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/simon/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
